body {
    background-color: grey;
    padding: 10px;
    color: black;
    font-size: 40px;
    text-align: center;
    position: relative;
}

#showNumberOfRounds {
    position: absolute;
    top: 40%;
    right: 15%;
}
img {
    cursor: pointer; 
} 

button { 
    display: none;
    padding: 11px 50px;
    max-width: 100%;
    
	font-size: 16px;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;

	color: #fff;
    background-color: #02ac46;
	border: 2px solid #02ac46;
    border-radius: 4px;
    
	transition: color .3s, background-color .3s;

    cursor: pointer;
	outline: 0!important;
	text-decoration: none;
    touch-action: manipulation;
    user-select: none;
	
	&:hover, &:active {
		color: #02ac46;
		background-color: #fff;
	}
}

li {
	list-style-type: none;
	font-size: 20px;
}

ul {
	list-style-type: none;	
	}

#beginButton {
    display: block;
    margin: 10px auto;
}

.gameresults {
    display: inline-block;
    letter-spacing: 35px;
    margin: 9px 35px;
}

#newGameButton {
    position: absolute;
    bottom: 100%;
    right: 180px;
    width: 500px;
    height: 130px;
}

.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	
	&.show {
		display: block;
	}
} 

.modal {
	display: none;
	background: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);

	&.show {
		display: block;
	}
	
	.close {
		position: absolute;
		right: 0;
		top: 0;
		padding: 5px;
		color: #000;
		text-decoration: none;
	}
	
	header {
		font-size: 20px;
		line-height: 30px;
		min-height: 30px;
		font-weight: bold;
		padding: 0 30px;
	}

	.content {
		min-height: 30px;
		padding: 5px 0;
		width: 900px;
		p {
			font-size: 28px; 
		}
	}
}   